@import "../../../scss/variables";

.container {
  width: 100%;

  .input {
    width: 100%;
    outline: none;
    border: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .centeredInput {
    text-align: center;
  }

  .addRow {
    border-left: 1px solid $grey-placeholder;
  }

  .loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 320px) {
  .container {
    padding: 82px 16px 28px 16px;

    .title {
      display: none;
    }

    .table {
      width: 100%;
      border-top: 1px solid $grey-placeholder;
      border-left: 1px solid $grey-placeholder;
    }

    .row {
      display: flex;
      width: 100%;
      height: 42px;
      border-bottom: 1px solid $grey-placeholder;

      .header {
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
      }

      .firstColumn,
      .secondColumn,
      .thirdColumn {
        border-right: 1px solid $grey-placeholder;
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 100%;
      }

      .firstColumn {
        width: 13%;
        justify-content: center;
      }

      .secondColumn {
        width: 48%;
        overflow: hidden;
        white-space: nowrap;
      }

      .thirdColumn {
        width: 39%;
        justify-content: center;
      }

      .standard {
        font-size: 14px;
      }
    }

    .addBtn {
      width: 36px;
      height: 36px;
      font-size: 20px;
      margin-top: 20px;
    }

    .btnWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 38px auto;

      .submitBtn,
      .cancelBtn {
        width: 48%;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: $white;
        font-size: 22px;
        font-weight: 700;
      }

      .submitBtn {
        background-color: $blue;
        border: none;
      }

      .disabledBtn {
        background-color: $grey-placeholder;
        cursor: not-allowed;
        border: none;
      }

      .cancelBtn {
        background-color: $red;
      }
    }

    .loaderWrapper {
      height: calc(100vh - 56px);
    }
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 109px 0 28px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      display: block;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 45px;
      text-align: center;
    }

    .table {
      width: 546px;
    }

    .row {
      height: 52px;
      position: relative;

      .header {
        font-size: 20px;
      }

      .firstColumn,
      .secondColumn,
      .thirdColumn {
        padding: 0 23px;
      }

      .firstColumn {
        width: 70px;
      }

      .secondColumn {
        width: 260px;
      }

      .thirdColumn {
        width: 216px;
      }

      .standard {
        font-size: 18px;
      }
    }

    .tooltip {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 40px;
      height: 42px;
      top: 0;
      left: 102%;
      background-color: $white;
    }

    .addBtn {
      width: 50px;
      height: 50px;
      font-size: 22px;
    }

    .btnWrapper {
      width: unset;
      width: 270px;

      .submitBtn,
      .cancelBtn {
        width: 130px;
      }

      .cancelBtn {
        cursor: pointer;
      }
    }

    .loaderWrapper {
      height: calc(100vh - 74px);
    }
  }
}
