@import "../../../../scss/variables";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $white;
  display: flex;
  align-items: center;

  .rightBlock {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 320px) {
  .signOutText {
    display: none;
  }

  .logo {
    display: none;
  }

  .logoMobile {
    font-size: 20px;
    color: $black;

    span {
      font-weight: 900;
    }
  }

  .container {
    padding: 0 16px;
    height: 56px;
    justify-content: space-between;
  }

  .rightBlock {
    width: calc(100% - 56px);

    .signOutIcon {
      width: 20px;
      height: 20px;
      margin-left: 20px;
    }
  }
}

@media (min-width: 768px) {
  .logo {
    display: block;
    font-size: 20px;
    font-weight: 900;
  }

  .logoMobile {
    display: none;
  }

  .container {
    padding: 0 32px;
    height: 74px;
  }

  .rightBlock {
    width: unset;
  }

  .signOutIcon {
    display: none;
  }

  .signOutText {
    display: block;
    font-size: 20px;
    margin-left: 40px;
    cursor: pointer;
  }
}
